* {
    font-family: 'Kalam', cursive;
}

h1 {
    font-size: 300%;
    text-align: center;
}

h2 {
    text-align: center;
    justify-content: space-evenly;
    font-size: 150%;
    margin-left: 30%;
    margin-right: 30%;
}

body {
    background-color: rgb(29, 63, 126);
}

#playervscomputer {
    text-align: center;
    font-size: 125%;
}

.flex-options {
    display: flex;
    justify-content: space-around;
    background:rgb(29, 63, 126);
    max-width: 2000px;
}

.flex-options button {
    justify-content: space-around;
}

#parentOutcomeImage {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0; 
    top: 0;
    background-color: rgb(22, 65, 121);
    flex-direction: column;
}

.outcomeImage {
    display: none;
}

#parentOutcomeImage img {
    transition: all 0.2s ease;
    margin: 1rem 0;
}

#gameResult, #parentOutcomeImage img, button {
    border: 6px solid rgb(12, 29, 59);
    border-radius: 4px;
}

button:hover {
    transform: scale(0.9);
}

#replayButton {
    padding: 2rem;
}

#gameResult {
    padding: 16px;
    margin-top: 16px;
}

#winsandlosses p {
    margin-bottom: 0;
}

@media screen and (min-width: 280px) and (max-width: 650px) {
    .flex-options {
      flex-flow: column wrap;
      align-items: center;
      max-height: 80%;
      gap: 5px;
    }
    .flex-options button {
      max-height: 80%;
      max-width: 80%;
    }
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 100%;
    }
    #playervscomputer {
        font-size: 100%;
    }
    #winsandlosses {
        font-size: 100%;
        display: flex;
        gap: 10px;
    }
  }